PORT=8080
CORS_ALLOWED_ORIGINS=https://jadeacai-web.vercel.app,http://localhost:3000,http://127.0.0.1:3000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.smghsuzztolotzoegbhh.supabase.co:5432/postgres?sslmode=require
